[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
psycopg2-binary = "*"
black = "*"
psycopg2 = "*"
pylint = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-decouple = "*"
django-cors-headers = "*"
django-crontab = "*"
celery = "*"
pylint-django = "*"
pylint-celery = "*"
django-environ = "*"
pylint-common = "*"
django-anymail = {extras = ["sendgrid", "sparkpost"], version = "*"}
redis = "*"
django-redis = "*"
django-celery-beat = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.8"
